body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: #f6f8f9 ;
}

/* Stile header */

header {
    background-color: #fff;
    height: 80px;
}

.header-wrapper {
    padding: 10px;
}

.header-wrapper img {
    height: 60px;
    vertical-align: middle;
}

.header-wrapper span{
    font-size: 45px;
    vertical-align: middle;
    font-weight: 900;
    letter-spacing: 2px;
}

/* Stile main */

main {
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

main>*{
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
}

.actions-wrapper {
    margin-bottom: 3px;
    border-radius: 5px 5px 0 0;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 10px;
}

.actions button {
    height: 30px;
    border-radius: 5px;
    background-color: #fff;
    color: #808080;
    border: 1px solid gray;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.actions button:hover {
    background-color: #47ADF1;
    border: 1px solid #fff;
    color: #fff;
}

.actions button:focus {
    background-color: #47ADF1;
    border: 1px solid #fff;
    color: #fff;
}

.content-wrapper {
    border-radius: 0 0 5px 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.list {
    margin-bottom: 20px;
    color: #444851;
}

.list>h2::before {
    content: "\23F7";
}

.line>span:nth-child(2) {
    font-size: 18px;
    font-weight: 500;
}


.check::before {
    font-size: 15px;
    display: inline-block;
    content: "\2714";
    width: 20px;
    height: 20px;
    color: #8DD1C1;
    border: 2px solid #8DD1C1;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.cross::before {
    font-size: 18px;
    display: inline-block;
    content: "\00D7";
    width: 20px;
    height: 20px;
    color: #ED7974;
    border: 2px solid #ED7974;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.tag {
    display:inline-block;
    
}