body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: #f6f8f9 ;
}

/* Stile header */

header {
    background-color: #fff;
    height: 80px;
}

.header-wrapper {
    padding: 10px;
}

.header-wrapper img {
    height: 60px;
    vertical-align: middle;
}

.header-wrapper span{
    font-size: 45px;
    vertical-align: middle;
    font-weight: 900;
    letter-spacing: 2px;
}

/* Stile main */

main {
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

main>*{
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
}

.actions-wrapper {
    margin-bottom: 3px;
    border-radius: 5px 5px 0 0;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 10px;
}

/* Bottoni */

.actions button {
    height: 30px;
    border-radius: 5px;
    background-color: #fff;
    color: #d3d3d3;
    border: 1px solid #d3d3d3;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.actions button:hover {
    background-color: #47ADF1;
    border: 1px solid #fff;
    color: #fff;
}

.actions button:focus {
    background-color: #47ADF1;
    border: 1px solid #fff;
    color: #fff;
}

.content-wrapper {
    border-radius: 0 0 5px 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Stili liste */

.list {
    margin-bottom: 20px;
    color: #444851;
}

.list>h2::before {
    content: "\23F7";
}

/* Stile linee */

.line {
    margin-bottom: 15px;
}

.line>span:nth-child(2) {
    font-size: 18px;
    font-weight: 500;
    margin-right: 5px;
    margin-left: 5px;
}

/* Check e cross */

.check::before {
    font-size: 15px;
    display: inline-block;
    content: "\2714";
    width: 18px;
    height: 18px;
    color: #8DD1C1;
    border: 2px solid #8DD1C1;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    vertical-align: middle;
}

.cross::before {
    font-size: 20px;
    display: inline-block;
    content: "\00D7";
    width: 18px;
    height: 18px;
    color: #ED7974;
    border: 2px solid #ED7974;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    vertical-align: middle;
}

.cross:hover::before {
    background-color: #ED7974;
    color: #fff;
}

.check:hover::before {
    background-color: #8DD1C1;
    color: #fff;
}


/* Stili dei tag */

.tag::before {
    content:"";
    display:inline-block;
    padding: 7px 10px;
    border-radius: 13px;
    color: #fff;
    font-size: 12px;

}

.editorial::before {
    content:"Editorial";
    background-color: #45ABEA;
}

.q1-goals::before {
    content:"Q1 Goals";
    background-color: #9C72E4;
}

.recruiting::before {
    content:"Recruiting";
    background-color: #64C0A9;
}

.mobile::before {
    content:"Mobile";
    background-color: #F29E33;
}

.website::before {
    content:"Website";
    background-color: #D863A1;
}

.sales::before {
    content:"Sales";
    background-color: #B0C926;
}